.cartBody{
    margin-top: 100px;
    margin-bottom: 20px;
}
.removeFromCart{
    color: white;
    white-space: nowrap;
    text-align: center;
    background-color: #750404;
    position: relative;
    border-radius: 100%;
    font-size: 15px;
    line-height: 10px;
    height: 10px;
    padding: 0 6px;
}
.placeOrder{
    display: flex;
    justify-content: center;
    color: #fcf3c7;
    background-color: #09ac06;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 200px;
    margin-top: 10px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.checkoutBody:hover{
    border: 3px solid #dfbb02;
    border-radius: 10px;
}
.checkoutBody{
    display: grid;
    grid-column: auto;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    width: 300px;
    background-color: #fcf3c7;
}
.checkoutBody h6{
    font-size: 15px;
    color: #750404;
}
.totalpriceOfItems{
    font-weight: bolder;
    font-size: 20px;
}