/* 1) all properties */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    box-sizing: border-box;
}

/* 2) header part */
header{
    display: flex;
    background-color: #fff;
    padding: 2px 0;
    border-bottom: 4px solid #fcf3c7;  
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    height: 70px;
    object-fit: contain;
    padding: 0px;
    border: 0px;
    border-radius: 100%;
}

.logoContainer{
    margin-left: 4%;
}

.actionBar{
    margin-right: 4%;
}

.navBar{
    display: flex;
    width: 650px;
    justify-content: space-evenly;
}

.navBar a{
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding: 28px 0px;
    border-bottom:5px solid #ffffff;
}

.navBar a:hover{
    border-bottom:5px solid #750404;
    border-radius: 5px;
}

.navBar a sup{
    font-size: 8px;
    color: #18960c;
}

.searchBar{
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
}

.searchIcon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #fcf3c7;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #3f0404;
}

.searchInput{
    color: black;
    background-color: #fcf3c7;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.actionBar{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
}

.favouriteIcon,.cartIcon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #750404;
    background-color: #fcf3c7;
    border-radius: 100%;
}
.actionContainer{
    text-decoration: none;
}
.cartIcon{
    width: 20px;
}
.cartItemCounter{
    color: white;
    white-space: nowrap;
    text-align: center;
    background-color: #750404;
    position: relative;
    border-radius: 100%;
    line-height: 10px;
    height: 10px;
    padding: 0 6px;
    top: -20px;
    left: -30px;
    font-size: 15px;
}

.loginButton{
    box-sizing: content-box;
    height: 20px;
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #750404;
    background-color: #fcf3c7;
    cursor: pointer;
}

/* 3) main body */
.bannerContainer{
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
}
.bannerImage{
    width: 100%;
}

.trendingHeading,.signatureHeading,.cartHeading{
    margin: 20px 60px;
    font-size: 30px;
    letter-spacing: 4px;
    word-spacing: 6px;
    color: #750404;
}

.trendingItems,.signatureItems,.cItems,.cartDetails{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.item,.checkoutBody{
    width: 220px;
    height: 390px;
    margin: 10px 10px;
    text-decoration: none;
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}

.item:hover{
    border: 5px solid #fcf3c7;
    border-radius: 10px;
}

.itemImage{
    width: 200px;
    height: 250px;
    margin: 0;
    cursor: pointer;
}

.itemName{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 4px;
    color: #750404;
    text-decoration: none;
}

.itemPrice{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin: 4px;
    color: #000000;
    text-decoration: none;
}

.itemId{
    color: rgb(255, 255, 255);
}

.itemButton,.removeItemButton{
    display: flex;
    justify-content: center;
    color: #750404;
    background-color: #fcf3c7;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 200px;
    margin-top: 10px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.removeItemButton{
    color: #fcf3c7;
    background-color: #750404;
}

/* 4) footer part */
.footerContainer{
    display: flex;
    background-color: #040000;
    color: #fcf3c7;
    text-decoration: none;
    padding: 50px;
    border-top: 30px solid #fcf3c7;  
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.footerColumn{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    text-decoration: none;
    color: #fcf3c7;
}

.footerColumn a{
    text-decoration: none;
    color: #fcf3c7;
    font-size: 15px;
}

.footerCategory{
    font-size: 20px;
    color: #f8dc4f;
}

.footerColumnLogo{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    width: 150px;
    text-decoration: none;
    color: #fcf3c7;
}

.logoFooter{
    height: 150px;
    object-fit: contain;
    padding: 0px;
    border: 0px;
    border-radius: 100%;
}